<%= form_with(model: profile, local: true) do |form| %>
   <div class = "col-md-6 col-lg -offset-4">
<div class = "jumbotron" data-toggle="collapse" >

  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :door_no %>
    <%= form.number_field :door_no,  class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :spouse_name %>
    <%= form.text_field :spouse_name,  class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :Number_of_Cars %>
    <%= form.number_field :Number_of_Cars,  class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :Intrested_in_events %>
    <%= form.check_box :Intrested_in_events,  class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :user_id , :readonly => true%>
    <%= form.text_field :user_id , :readonly => true,  class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Profile", class: "btn btn-primary"%>
  </div>
<% end %>
</div>
</div>
</div>