<%= form_with(model: eventinterest, local: true) do |form| %>
  <% if eventinterest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eventinterest.errors.count, "error") %> prohibited this eventinterest from being saved:</h2>

      <ul>
      <% eventinterest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>
  
  <div class='form-group'>
   <%= form.radio_button :isinterest, 'Interested', :checked => true %> Interested
    <%=  form.radio_button :isinterest, 'Not Interested' %> Not Interested
 </div>


  <div class="field">
    <%= form.label :events_id %>
    <%= form.text_field :events_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
