<p id="notice"><%= notice %></p>

<h1>Eventinterests</h1>

<table>
  <thead>
    <tr>
      <th>Isinterest</th>
      <th>User</th>
      <th>Events</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventinterests.each do |eventinterest| %>
      <tr>
        <td><%= eventinterest.isinterest %></td>
        <td><%= eventinterest.user %></td>
        <td><%= eventinterest.events %></td>
        <td><%= link_to 'Show', eventinterest %></td>
        <td><%= link_to 'Edit', edit_eventinterest_path(eventinterest) %></td>
        <td><%= link_to 'Destroy', eventinterest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eventinterest', new_eventinterest_path %>
