<p id="notice"><%= notice %></p>

<p>
  <strong>Isinterest:</strong>
  <%= @eventinterest.isinterest %>
</p>

<p>
  <strong>User:</strong>
  <%= @eventinterest.user %>
</p>

<p>
  <strong>Events:</strong>
  <%= @eventinterest.events %>
</p>

<%= link_to 'Edit', edit_eventinterest_path(@eventinterest) %> |
<%= link_to 'Back', eventinterests_path %>
