<h1>HEY I have a problem in my <%=@assetname %></h1>
<table>
    <tr>
       
        <td>Asset Type</td>
        <td> <%= @assetname %></td>
    </tr>
    <tr>
        <td>Door Number:</td>
        <td> <%= @doorno %></td>
    </tr>
     <tr>
        <td>Description:</td>
        <td> <%= @provider %></td>
    </tr>
     <tr>
        <td>Can you please come around: </td>
        <td> <%= @appointment %></td>
    </tr>
</table>