<%= form_with(model: asset, local: true) do |form| %>
 <div class = "jumbotron">
  <% if asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :assetname %>
    <%= form.text_field :assetname %>
  </div>
<div class='form-group'>
    <%= form.label :assettype %>
    <%= form.select :assettype ,Service.all.map { |service| [service.servicename, service.servicename] } %>
</div>

  <div class='form-group'>
   <%= form.radio_button :workingcondition, 'working', :checked => true %> working
    <%=  form.radio_button :workingcondition, 'Notworking' %> Not working
 </div>

  <div class="field">
    <%= form.label :USER_ID %>
    <%= form.number_field :user_id , :readonly => true%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>