<p id="notice"><%= notice %></p>
<div class = "jumbotron">
 <table class="table table-bordered">
  <thead>
    <tr>
      <th>Assetname</th>
      <th>Assettype</th>
      <th>Workingcondition</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
        <td><%= @asset.assetname %></td>
        <td><%= @asset.assettype %></td>
        <td><%= @asset.workingcondition %></td>
       </tr> 


<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
</tbody>
</table>
</div>