<p id="notice"><%= notice %></p>

<p>
  <strong>Assetname:</strong>
  <%= @asset.assetname %>
</p>

<p>
  <strong>Assettype:</strong>
  <%= @asset.assettype %>
</p>

<p>
  <strong>Workingcondition:</strong>
  <%= @asset.workingcondition %>
</p>

<p>
  <strong>User:</strong>
  <%= @asset.user_id %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
