<p id="notice"><%= notice %></p>
<table class="table table-bordered">

 <tr> <strong>Assetname:</strong> </tr>
  <td> <%= @asset.assetname %> </td>

 <tr> <strong>Assettype:</strong> </tr>
  <td>   <%= @asset.assettype %> </td>


<p>
  <strong>Workingcondition:</strong>
  <%= @asset.workingcondition %>
</p>


<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
</table>