<html>
<h1>Hey, Sorry i got to update my cart</h1>
<table align="center">
    <tr>
        <th scope="col">Quantity</th>
        <th scope="col">ProductID</th>
        <th scope="col">OrderID</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Updated Time</th>
    </tr>
    <tr>
        <td><%=@item%></td>
        <td><%=@id%></td>
        <td><%=@orderid%></td>
        <td><%=@price%></td>
        <td><%=@total%> Euros</td>
        <td><%=@time%></td>
    </tr>
</table>
</html>
