<h1>WELCOME TO EB BILL PREDICTOR</h1>
<%= form_tag "/calculateelectricbills/showbasedonammenities" do |form| %>


<%= @appliance.each do |a| %>
<div class='form-group'>
    <ul>
        <li> <strong><%= a %></strong></li>
 <%= text_field_tag a , 'Hours of Consumption', :onclick => 'if($(this).val()=="Hours of Consumption"){$(this).val("");};' %>  
 </ul>
 </div>
 <% end %>
<%= submit_tag "Check" %>
<% end %>
