<% content_for(:page_header) {"EB BILL PREDICTOR"} %>

 <div class = "col-md-6 col-md-offset-3">
<div class = "jumbotron textcenter">
   

<%= form_tag "/calculateelectricbills/showbasedonmeter" do |form| %>
<h3>Choose your service provider</h3>

<%= select_tag :electricprovider, options_for_select(@provider), :prompt => "Please select",class: 'browser-default custom-select custom-select-lg mb-3' %>
<h3>Enter your previous bill readings</h3>

<%= number_field_tag 'previousbill', class: "form-control"%>

<h3>Enter your current bill readings</h3>
<%= number_field_tag 'currentbill',class: "form-control"%>
<p></p>
<%= submit_tag "Check", class: 'btn btn-success' %>
</div>
<% end %>
</div>