
<p> Total consumption in watts for a days is <%=@value[0] %> and for a month is <%=@value[1] %> which costs around <%=@value[2] %> </p>

<div class = "jumbotron">
    <h1>Your consumption would be around</h1>
    <p id="notice"><%= notice %></p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-dg7a{background-color:#FCFBE3;text-align:left;vertical-align:top}
</style>

<table class="tg jumbotron jumbotron-fluid container textcenter table table-hover" align="center">
    <tr>
        <th class="tg-0lax">Per Day Consumption</th>
        <th class="tg-0lax">Per Month Consumption(KWH</th>
        <th class="tg-0lax">Cost Per Month</th>
        </tr>
        <tr>
            <td class="tg-dg7a"><%= @value[0] %></td>
            <td class="tg-dg7a"><%= @value[1] %></td>
              <td class="tg-dg7a"><%= @value[2] %></td>
        </tr>
        </table>
        </div>