<h1>THE RESULT IS DISPLAYED HERE</h1>
<p>Monthly consumption of a <%= @value[0] %> BHK rooms in terms of power consumption is <%= @value[1] %> KWH and its cost is <%= @value[2] %></p>
<p>Yearly consumption of a <%= @year[0] %> BHK rooms in terms of power consumption is <%= @year[1] %> KWH and its cost is <%= @year[2] %></p>
