<div class = "jumbotron jumbotron-fluid container          ">
<% if current_user.admin? %>
<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price Per KG</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Check', product, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Update', edit_product_path(product), class: 'btn btn-success' %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
<%else%>
<h1>Only Admin Can access this page ..!!!</h1>
<% end %>
</div>
